body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container{
	width: 500px;
	height: 300px;
	text-align: center;
	margin: 0 auto;
	background-color: rgba(44, 62, 80,0.7);
	margin-top: 160px;
}

input[type="text"],input[type="password"]{
	margin-top: 20px;
	height: 40px;
	width: 300px;
	font-size: 18px;
	background-color: #fff;
	padding-left: 40px;
}

.btn-login{
	padding: 15px 25px;
    margin-top:20px ;
	border: none;
	background-color: #279aae;
	color: rgb(236, 247, 245);
    border-radius:  8px 80px 80px 8px;
}
